# for authentication use: npm login --scope=@harrybin --auth-type=legacy --registry=https://npm.pkg.github.com
# and enter your gituhb ident as user and a PAT as password
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@harrybin:registry=https://npm.pkg.github.com
always-auth=true
npm config set strict-ssl false
